{% extends 'layouts/base.html' %}

{% block content %}
        <section class="breadcrumb">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">accounts<i class="fa fa-angle-right"></i></a></li>
                    <li class="active">sign_out</li>
                </ul>
            </div>
        </section>
        <div class="section small">
            <div class="container">
                <div class="row">
                    <h4>Successful exit</h4>
                </div>
            </div>
        </div>
{% endblock content %}