{% extends 'layouts/base.html' %}

{% block content %}
        <section class="breadcrumb">
                <div class="container">
                    <ul class="list-inline">
                        <li><a href="#"{{ title }}>catalog<i class="fa fa-angle-right"></i></a></li>
                        <li class="active">delete</li>
                    </ul>
                </div>
        </section>
        <div class="section">
            <div class="container">
                <div class="row">
                    <h3 style="color: gray">Delete Collections</h3>
                </div>
            </div>
        </div>
{% endblock content %}